In [0]:
# spark session
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Spark Introduction")
    .master("local[*]")
    .getOrCreate()
)

In [0]:
spark

In [0]:
# emp data and schema

emp_data = [
    ['001', '101', 'Alice Johnson', '29', 'Female', '52000', '2016-03-15'],
    ['002', '102', 'Bob Smith', '34', 'Male', '48000', '2017-07-20'],
    ['003', '103', 'Charlie Brown', '26', 'Male', '47000', '2018-02-01'],
    ['004', '104', 'Diana Prince', '31', 'Female', '55000', '2015-11-12'],
    ['005', '105', 'Ethan Hunt', '28', 'Male', '49500', '2019-05-08'],
    ['006', '106', 'Fiona Gallagher', '27', 'Female', '51000', '2016-09-10'],
    ['007', '107', 'George Costanza', '33', 'Male', '46000', '2015-01-01'],
    ['008', '108', 'Hannah Montana', '25', 'Female', '53000', '2017-04-14'],
    ['009', '109', 'Isaac Newton', '35', 'Male', '60000', '2018-10-25'],
    ['010', '110', 'Jessica Jones', '32', 'Female', '58000', '2016-06-30'],
    ['011', '111', 'Kevin Malone', '36', 'Male', '49000', '2015-03-18'],
    ['012', '112', 'Laura Croft', '30', 'Female', '57000', '2017-08-22'],
    ['013', '113', 'Mike Ross', '29', 'Male', '51500', '2019-01-05'],
    ['014', '114', 'Nancy Drew', '27', 'Female', '54000', '2016-12-09'],
    ['015', '115', 'Oscar Martinez', '28', 'Male', '45500', '2018-03-19'],
    ['016', '116', 'Pam Beesly', '31', 'Female', '47500', '2019-07-13'],
    ['017', '117', 'Quinn Fabray', '26', 'Female', '51000', '2015-11-05'],
    ['018', '118', 'Ryan Howard', '34', 'Male', '49000', '2016-04-21'],
    ['019', '119', 'Sophia Loren', '30', 'Female', '56000', '2018-09-17'],
    ['020', '120', 'Toby Flenderson', '35', 'Male', '45000', '2017-02-08']
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [0]:
# create emp dataframe

emp = spark.createDataFrame(data=emp_data, schema=emp_schema)

In [0]:
# check number of partitions

emp.rdd.getNumPartitions()

8

In [0]:
# show data (ACTION)

emp.show()

+-----------+-------------+---------------+---+------+------+----------+
|employee_id|department_id|           name|age|gender|salary| hire_date|
+-----------+-------------+---------------+---+------+------+----------+
|        001|          101|  Alice Johnson| 29|Female| 52000|2016-03-15|
|        002|          102|      Bob Smith| 34|  Male| 48000|2017-07-20|
|        003|          103|  Charlie Brown| 26|  Male| 47000|2018-02-01|
|        004|          104|   Diana Prince| 31|Female| 55000|2015-11-12|
|        005|          105|     Ethan Hunt| 28|  Male| 49500|2019-05-08|
|        006|          106|Fiona Gallagher| 27|Female| 51000|2016-09-10|
|        007|          107|George Costanza| 33|  Male| 46000|2015-01-01|
|        008|          108| Hannah Montana| 25|Female| 53000|2017-04-14|
|        009|          109|   Isaac Newton| 35|  Male| 60000|2018-10-25|
|        010|          110|  Jessica Jones| 32|Female| 58000|2016-06-30|
|        011|          111|   Kevin Malone| 36|  Male| 49000|2015-03-18|
|        012|          112|    Laura Croft| 30|Female| 57000|2017-08-22|
|        013|          113|      Mike Ross| 29|  Male| 51500|2019-01-05|
|        014|          114|     Nancy Drew| 27|Female| 54000|2016-12-09|
|        015|          115| Oscar Martinez| 28|  Male| 45500|2018-03-19|
|        016|          116|     Pam Beesly| 31|Female| 47500|2019-07-13|
|        017|          117|   Quinn Fabray| 26|Female| 51000|2015-11-05|
|        018|          118|    Ryan Howard| 34|  Male| 49000|2016-04-21|
|        019|          119|   Sophia Loren| 30|Female| 56000|2018-09-17|
|        020|          120|Toby Flenderson| 35|  Male| 45000|2017-02-08|
+-----------+-------------+---------------+---+------+------+----------+

In [0]:
# write our first transformation (EMP salary > 50000)

emp_final = emp.where('salary > 50000')

In [0]:
# validate number of partitions

emp_final.rdd.getNumPartitions()

8

In [0]:
# write data as CSV output (ACTION)

# emp_final.write.format('csv').save('data/output/1/emp.csv')